*{
   margin: 0; /*famille de police pour la marge*/
   padding: 0; /*famille de police pour dimensionnement*/
   font-family: 'Arial Rounded MT Bold';
   box-sizing: 0;
} 
body{ /* Création du corp du site web*/
   background: #222;
}
.card{ /* création du cadre pour la partie recherche*/
   width: 90%;
   max-width: 470px;
   background: linear-gradient(#00feba, #5b549a);
   backdrop-filter: sepia(5%); /* ajout de l'arrière plan du texte*/
   color: #000000; /* couleur arrière plan*/
   margin: 100px auto 0px; /* ajout de la marge a 100px du haut et 0 du bas tandis que auto pour la droite et la gauche*/
   border-radius: 20px; /* ajout du rayon des arrondies des angles */
   padding: 40px 35px; /* ajout d'un espace entre la demande d'alignement du texte et la bordure extérieur */
   text-align: center; /* le texte sera aligner et centrer */
   background-image: url("/img/image2.jpg");
   background-repeat : no-repeat;
   background-position: center, center,center;
   border-style: solid;
   border-width: 3px 3px;
   border-color: red; /* liseré rouge */
}
.weather-icon{ /*définition de l'icon météo*/
   width: 340x; /* modification de la largeur de l'icon */
   margin-top: 30px; /*modification de la marge haute */
}
.weather h1{ /*définition du paragraphe H1 */
   font-size: 80px; /* taille de la police */
   font-weight: 500; /* épaisseur de la police */
   font-weight: bold;
}
.weather h2{ /*définition du paragraphe H2 */
   font-size: 45px; /* taille de la police */
   font-weight: 400; /* épaisseur de la police */
   margin-bottom: -10px; /* marge basse*/   
}
.details{ /* définition des conditions météos*/
   display: flex; /* alignement de l'objet automatique */
   align-items: center; /* placement de l'item dans ca cellule */
   justify-content: space-between; /* marge entre les deux cellules */
   padding: 20px 100px; 20px; 20px /* ordre : top-right-bottom-left --> espace avec le cadre autour des icons */
   margin-top: 70px; /* marge haute avec la cellule */
}
.col{ /* définition des valeurs des cellules */
   display: flex; /* ajustement auto de la taille des cellules */
   align-items: ;  /* centre les cellules */
   text-align: center; /* justification de texte à gauche */
   font-weight: bold;
}
.col img{ /* définition des valeurs des cellules */
   width: 40px; /* grandeur des icons */
   margin-right: 10px; /* écart entre le texte et les icons */
}
.humidité, .vent{
   font-size: 20px; /* taille de la police */
   margin-top: -6px; /* Marge avec le haut de la cellule */
   font-weight: bold;
}
.weather{
   display: none;
}
.error{ 
   text-align: left; /* justification du texte a gauche*/
   margin-left: 10px; /*espace entre le bord de la cellule et le texte */
   font-size: 14px; /* talle de la police */
   margin-top: 10px; /*marge entre le haut de la cellule et le texte */
   display: block;
   font-weight: bold;}
